<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>main</key>
		<string>When was light created?</string>
		<key>main2</key>
		<string>Genesis 1:3-5 and Genesis 1:14-19</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;When was light created?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;On the first day, God created light, then separated light and darkness.&lt;/center&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 1:3-5&lt;/b&gt;&lt;br&gt;
&lt;i&gt;3. And God said, “Let there be light,” and there was light. &lt;br&gt;
4 God saw that the light was good, and he separated the light from the darkness. &lt;br&gt;
5 God called the light “day,” and the darkness he called “night.” And there was evening, and there was morning—the first day.&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;The sun(which separates night and day) wasn&apos;t created until the fourth day.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 1:14-19&lt;/b&gt;&lt;br&gt;
&lt;i&gt;14 And God said, “Let there be lights in the vault of the sky to separate the day from the night, and let them serve as signs to mark sacred times, and days and years,&lt;br&gt;
15 and let them be lights in the vault of the sky to give light on the earth.” And it was so. &lt;br&gt;
16 God made two great lights—the greater light to govern the day and the lesser light to govern the night. He also made the stars. &lt;br&gt;17 God set them in the vault of the sky to give light on the earth, &lt;br&gt;
18 to govern the day and the night, and to separate light from darkness. And God saw that it was good. &lt;br&gt;
19 And there was evening, and there was morning—the fourth day.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>When were the trees created?</string>
		<key>main2</key>
		<string>Genesis 1:11-12, 26-27, and Genesis 2:4-9</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;When were the trees created?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Trees were created before man was created.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 1:11-12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;11 Then God said, “Let the land produce vegetation: seed-bearing plants and trees on the land that bear fruit with seed in it, according to their various kinds.” And it was so. &lt;br&gt;
12 The land produced vegetation: plants bearing seed according to their kinds and trees bearing fruit with seed in it according to their kinds. And God saw that it was good.&lt;/i&gt;&lt;br&gt;&lt;br&gt;
&lt;b&gt;Genesis 1:26-27&lt;/b&gt;&lt;br&gt;&lt;br&gt;
&lt;i&gt;26 Then God said, “Let us make mankind in our image, in our likeness, so that they may rule over the fish in the sea and the birds in the sky, over the livestock and all the wild animals,[a] and over all the creatures that move along the ground.”&lt;br&gt;
27 So God created mankind in his own image, in the image of God he created them; male and female he created them.&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;Man was created before trees were created.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 2:4-9&lt;/b&gt;&lt;br&gt;
&lt;i&gt;4 This is the account of the heavens and the earth when they were created, when the Lord God made the earth and the heavens.&lt;br&gt;
5 Now no shrub had yet appeared on the earth[a] and no plant had yet sprung up, for the Lord God had not sent rain on the earth and there was no one to work the ground, &lt;br&gt;
6 but streams[b] came up from the earth and watered the whole surface of the ground. &lt;br&gt;
7 Then the Lord God formed a man[c] from the dust of the ground and breathed into his nostrils the breath of life, and the man became a living being.&lt;br&gt;
8 Now the Lord God had planted a garden in the east, in Eden; and there he put the man he had formed. 9 The Lord God made all kinds of trees grow out of the ground—trees that were pleasing to the eye and good for food. In the middle of the garden were the tree of life and the tree of the knowledge of good and evil.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>When were animals created?</string>
		<key>main2</key>
		<string>Genesis 1:24 - 27 and Genesis 2:7 &amp; 2:19</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;When were animals created?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Animals were created before man was created.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 1:24-27&lt;/b&gt;&lt;br&gt;
&lt;i&gt;24 And God said, “Let the land produce living creatures according to their kinds: the livestock, the creatures that move along the ground, and the wild animals, each according to its kind.” And it was so. 25 God made the wild animals according to their kinds, the livestock according to their kinds, and all the creatures that move along the ground according to their kinds. And God saw that it was good.&lt;br&gt;

26 Then God said, “Let us make mankind in our image, in our likeness, so that they may rule over the fish in the sea and the birds in the sky, over the livestock and all the wild animals,[a] and over all the creatures that move along the ground.”&lt;br&gt;

27 So God created mankind in his own image,
    in the image of God he created them;
    male and female he created them..&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;Man was created before animals were created.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 2:7&lt;/b&gt;&lt;br&gt;
&lt;i&gt;7. And the LORD God formed man of the dust of the ground, and breathed into his nostrils the breah of life; and man became a living soul.&lt;br&gt;
&lt;b&gt;Genesis 2:19&lt;/b&gt;&lt;br&gt;
19 Now the Lord God had formed out of the ground all the wild animals and all the birds in the sky. He brought them to the man to see what he would name them; and whatever the man called each living creature, that was its name.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Is there an unforgivable sin?</string>
		<key>main2</key>
		<string>Matthew 12:31-32, Mark 3:29, Luke 12:10 and Acts 13:39</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Is there an unforgivable sin?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Yes, there is.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Matthew 12:31-32&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Wherefore I say unto you, All manner of sin and blasphemy shall be forgiven unto men: but the blasphemy against the Holy Ghost shall not be forgiven unto men. And whosoever speaketh a word against the Son of man, it shall be forgiven him: but whosoever speaketh against the Holy Ghost, it shall not be forgiven him, neither in this world, neither in the world to come.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Mark 3:29&lt;/b&gt;&lt;br&gt;
&lt;i&gt;But he that shall blaspheme against the Holy Ghost hath never forgiveness, but is in danger of eternal damnation.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Luke 12:10&lt;/b&gt;&lt;br&gt;
&lt;i&gt;But unto him that blasphemeth against the Holy Ghost it shall not be forgiven.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;No, there is not.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Acts 13:39&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And by him all that believe are justified from all things.&lt;br&gt;&lt;/i&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Does God want some to go to hell?</string>
		<key>main2</key>
		<string>1 Timothy 2:3-4 and 2 Thessalonians 2:11-12 and others</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Does God want some to go to hell?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;God wants everyone to go to heaven.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;1 Timothy 2:3-4&lt;/b&gt;&lt;br&gt;
&lt;i&gt;God our Saviour; who will have all men to be saved.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;b&gt;2 Peter 3:9&lt;/b&gt;&lt;br&gt;
&lt;i&gt;The Lord is ... not willing that any should perish, but that all should come to repentance.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;God wants some to go to hell&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Proverbs 16:4&lt;/b&gt;&lt;br&gt;
&lt;i&gt;The Lord hath made all things for himself: yea, even the wicked for the day of evil.&lt;br&gt;&lt;/i&gt;&lt;br&gt;

&lt;b&gt;John 12:40&lt;/b&gt;&lt;br&gt;
&lt;i&gt;He hath blinded their eyes, and hardened their heart; that they should not see with their eyes, nor understand with their heart, and be converted, and I should heal them.&lt;br&gt;&lt;/i&gt;
&lt;br&gt;
&lt;b&gt;Romans 9:18&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Therefore hath he mercy on whom he will have mercy, and whom he will he hardeneth.&lt;br&gt;&lt;/i&gt;&lt;br&gt;

&lt;b&gt;2 Thessalonians 2:11-12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;God shall send them strong delusion, that they should believe a lie: That they all might be damned.&lt;br&gt;&lt;/i&gt;

</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Did Jesus tell his disciples everything?</string>
		<key>main2</key>
		<string>John 15:15 and John 16:12</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Did Jesus tell his disciples everything?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Jesus told his disciples everything.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;John 15:15&lt;/b&gt;&lt;br&gt;
&lt;i&gt;For all things that I have heard of my Father I have made known unto you.&lt;br&gt;
&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;There were some things that Jesus didn&apos;t tell them.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;John 16:12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;I have yet many things to say unto you, but ye cannot bear them now.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>How long does God&apos;s anger last?  </string>
		<key>main2</key>
		<string>Judith 8:15, Psalm 30:5, Numbers 32:13, and others</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;How long does God&apos;s anger last?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;God doesn&apos;t get angry.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Judith 8:15&lt;/b&gt;&lt;br&gt;
&lt;i&gt;God will not threaten like man, nor be inflamed to anger.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;God&apos;s anger lasts for just a moment.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Psalm 30:5&lt;/b&gt;&lt;br&gt;
&lt;i&gt;For his anger endureth but a moment. &lt;br&gt;&lt;/i&gt;&lt;br&gt;

&lt;center&gt;God&apos;s anger lasts a long time.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Numbers 32:13&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And the Lord&apos;s anger was kindled against Israel, and he made them wander in the wilderness for forty years.&lt;/i&gt;&lt;br&gt;&lt;br&gt;


&lt;center&gt;God&apos;s anger doesn&apos;t last forever.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Jeremiah 3:12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;I am merciful, saith the Lord, and I will not keep anger for ever. &lt;/i&gt;&lt;br&gt;
&lt;b&gt;Micah 7:18&lt;/b&gt;&lt;br&gt;
&lt;i&gt;He retaineth not his anger forever, because he delighteth in mercy. &lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;God&apos;s anger lasts forever.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Jeremiah 17:4&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Ye have kindled a fire in mine anger, which shall burn for ever.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Malachi 1:4&lt;/b&gt;&lt;br&gt;
&lt;i&gt;The people against whom the LORD hath indignation for ever.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Matthew 25:41&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Depart from me, he cursed, into everlasting fire, prepared for the devil and his angels. &lt;/i&gt;&lt;br&gt;
&lt;b&gt;Matthew 25:46&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And these shall go away into everlasting punishment. &lt;/i&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Did Jesus baptize anyone?</string>
		<key>main2</key>
		<string>John 3:22 and John 4:2</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Did Jesus baptize anyone?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Yes.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;John 3:22&lt;/b&gt;&lt;br&gt;
&lt;i&gt;After these things came Jesus and his disciples into the land of Judaea; and there he tarried with them, and baptized.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;br&gt;
&lt;center&gt;No.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;John 4:2&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Though Jesus himself baptized not, but his disciples.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>In whose name is baptism to be performed?</string>
		<key>main2</key>
		<string>Matthew 28:19 and Acts 2:38, Acts 10:48</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;In whose name is baptism to be performed?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;The Father, and of the Son, and of the Holy Ghost.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Matthew 28:19&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;center&gt;In Jesus&apos;s Name&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Acts 2:38&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Then Peter said unto them, Repent, and be baptized every one of you in the name of Jesus Christ.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Acts 10:48&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And he commanded them to be baptized in the name of the Lord.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Who was to blame for original sin? </string>
		<key>main2</key>
		<string>1 Timothy 2:14 and Romans 5:12</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Who was to blame for original sin?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Eve&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;1 Timothy 2:14&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And Adam was not deceived, but the woman being deceived was in the transgression.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;center&gt;Adam&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Romans 5:12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;By one man sin entered into the world, and death by sin.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Where did Joseph and Mary live before the birth of Jesus?</string>
		<key>main2</key>
		<string>Luke 2:1-7 and Matthew 2:12, 11, 22-23</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Where did Joseph and Mary live before the birth of Jesus?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;They lived in Nazareth, and traveled to Bethlehem because of a census.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Luke 2:1-7&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And it came to pass in those days, that there went out a decree from Caesar Augustus that all the world should be taxed. And all went to be taxed, every one into his own city. And Joseph also went up from Galilee, out of the city of Nazareth, into Judaea, unto the city of David, which is called Bethlehem; (because he was of the house and lineage of David:) To be taxed with Mary his espoused wife, being great with child. And so it was, that, while they were there, the days were accomplished that she should be delivered. And she brought forth her firstborn son, and wrapped him in swaddling clothes, and laid him in a manger; because there was no room for them in the inn.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;center&gt;They lived in a house in Bethlehem, and moved to Nazareth after returning from Egypt.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Matthew 2:1-2, 11, 22-23&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Now when Jesus was born in Bethlehem of Judaea in the days of Herod the king, behold, there came wise men from the east to Jerusalem, Saying, Where is he that is born King of the Jews? for we have seen his star in the east, and are come to worship him. 
&lt;br&gt;...&lt;br&gt;
And when they were come into the house, they saw the young child with Mary his mother, and fell down, and worshipped him.
&lt;br&gt;...&lt;br&gt;
But when he heard that Archelaus did reign in Judaea in the room of his father Herod, he was afraid to go thither: notwithstanding, being warned of God in a dream, he turned aside into the parts of Galilee: And he came and dwelt in a city called Nazareth.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>To whom did Jesus make his first post-resurrection appearance?</string>
		<key>main2</key>
		<string>Matthew 28:1,9, Mark 16:9, John 20:11-14, Luke 24:13-31, and 1 Corinthians 15:4-5</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;To whom did Jesus make his first post-resurrection appearance?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;The two Marys&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Matthew 28:1,9&lt;/b&gt;&lt;br&gt;
&lt;i&gt;In the end of the sabbath, as it began to dawn toward the first day of the week, came Mary Magdalene and the other Mary to see the sepulchre.... And as they went to tell his disciples, behold, Jesus met them, saying, All hail. And they came and held him by the feet, and worshipped him.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;center&gt;Mary Magdalene&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Mark 16:9&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Now when Jesus was risen early the first day of the week, he appeared first to Mary Magdalene, out of whom he had cast seven devils.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;b&gt;John 20:11-14&lt;/b&gt;&lt;br&gt;
&lt;i&gt;But Mary stood without at the sepulchre weeping ... and saw Jesus standing, and knew not that it was Jesus.&lt;/i&gt;&lt;br&gt;&lt;br&gt;
&lt;center&gt;Cleopas and another&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Luke 24:13-31&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And, behold, two of them went that same day to a village called Emmaus.... And the one of them, whose name was Cleopas, answering said unto him, Art thou only a stranger in Jerusalem, and hast not known the things which are come to pass there in these days? ... And it came to pass, as he sat at meat with them, he took bread, and blessed it, and brake, and gave to them. And their eyes were opened, and they knew him; and he vanished out of their sight.&lt;/i&gt;&lt;br&gt;&lt;br&gt;
&lt;center&gt;Cephas&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;1 Corinthians 15:4-5&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And that he was buried, and that he rose again the third day according to the scriptures: And that he was seen of Cephas, then of the twelve. &lt;/i&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Who makes people deaf and blind?</string>
		<key>main2</key>
		<string>Exodus 4:11, John 9:1-3, and Mark 9:17, 25</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Who makes people deaf and blind?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;God does it.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Exodus 4:11&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Who maketh the dumb, or deaf, or the seeing, or the blind? have not I the LORD?&lt;br&gt;&lt;/i&gt;
&lt;b&gt;John 9:1-3&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And as Jesus passed by, he saw a man which was blind from his birth. And his disciples asked him, saying, Master, who did sin, this man, or his parents, that he was born blind? Jesus answered, Neither hath this man sinned, nor his parents: but that the works of God should be made manifest in him.&lt;/i&gt;&lt;br&gt;&lt;br&gt;
&lt;center&gt;Foul Spirits&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Mark 9:17, 25&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And one of the multitude answered and said, Master, I have brought unto thee my son, which hath a dumb spirit. Jesus ... rebuked the foul spirit, saying unto him, Thou dumb and deaf spirit, I charge thee, come out of him, and enter no more into him.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Did Jesus drink on the cross?</string>
		<key>main2</key>
		<string>John 19:29-30 and Mark 15:23</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Did Jesus drink on the cross?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Yes.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;John 19:29-30&lt;/b&gt;&lt;br&gt;
&lt;i&gt;Now there was set a vessel full of vinegar: and they filled a spunge with vinegar, and put it upon hyssop, and put it to his mouth. When Jesus therefore had received the vinegar, he said, It is finished: and he bowed his head, and gave up the ghost.&lt;br&gt;&lt;/i&gt;&lt;br&gt;
&lt;center&gt;No.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Mark 15:23&lt;/b&gt;&lt;br&gt;
&lt;i&gt;And they gave him to drink wine mingled with myrrh: but he received it not.&lt;br&gt;&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Is incest forbidden?</string>
		<key>main2</key>
		<string>Leviticus 18:9, 12, Genesis 20:12, and others</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Is incest forbidden?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Incestuous marriage condemned.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Leviticus 18:9, 12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;9. The nakedness of thy sister, the daughter of thy father, or daughter of thy mother, ... thou shalt not uncover.&lt;br&gt;
12. Thou shalt not uncover the nakedness of thy father&apos;s sister.&lt;/i&gt;&lt;br&gt;

&lt;b&gt;Leviticus 20:17, 19&lt;/b&gt;&lt;br&gt;
&lt;i&gt;17. And if a man shall take his sister, his father&apos;s daughter, or his mother&apos;s daughter, and see her nakedness, and she see his nakedness; it is a wicked thing.&lt;br&gt;
19. And thou shalt not uncover the nakedness of thy mother&apos;s sister, nor of thy father&apos;s sister: for he uncovereth his near kin: they shall bear their iniquity.&lt;/i&gt;&lt;br&gt;

&lt;b&gt;Deuteronomy 27:22&lt;/b&gt;&lt;br&gt;
&lt;i&gt;22. Cursed be he that lieth with his sister, the daughter of his father, or the daughter of his mother.&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;Incestuous marriage approved.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 20:12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;12. And yet indeed, she [Sarah] is my [Abraham&apos;s] sister; she is the daughter of my father, but not the daughter of my mother; and she became my wife.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Genesis 17:16&lt;/b&gt;&lt;br&gt;
&lt;i&gt;16. And I will bless her [Sarah], and give thee a son also of her: yea, I will bless her, and she shall be a mother of nations; kings of people shall be of her.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Exodus 6:20&lt;/b&gt;&lt;br&gt;
&lt;i&gt;20. And Amram took him Jochebed his father&apos;s sister to wife; and she bare him Aaron and Moses.&lt;/i&gt;
</string>
	</dict>
	<dict>
		<key>main</key>
		<string>How many languages were there before the Tower of Babel?</string>
		<key>main2</key>
		<string>Genesis 10:20, 31 and Genesis 11:1</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;How many languages were there before the Tower of Babel?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;There were many languages.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 10:20, 31&lt;/b&gt;&lt;br&gt;
&lt;i&gt;20. These are the sons of Ham, after their families, after their tongues, in their countries, and in their nations.&lt;br&gt;
31.  There are the sons of Shem, after their families, after their tongues, in their lands, after their nations.&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;There was only one language before the Tower of Babel.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 11:1&lt;/b&gt;&lt;br&gt;
&lt;i&gt;1.  And the whole Earth was of one langauge, and of one speech.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Is God omniscient or not?</string>
		<key>main2</key>
		<string>Genesis 4:9, Proverbs 15:3, and others</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Is God omniscient or not?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;God has to ask Cain where his brother Abel is.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 4:9&lt;/b&gt;&lt;br&gt;
&lt;i&gt;9.  And the LORD said unto Cain, Where is Abel they brother?  and he said, I know not: Am I my brother&apos;s keeper?&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;God is omnipresent; he sees all. Nothing is hidden from him.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Proverbs 15:3&lt;/b&gt;&lt;br&gt;
&lt;i&gt;3 The eyes of the LORD ar ein every place, beholding the evil and the good&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Jeremiah 16:17&lt;/b&gt;&lt;br&gt;
&lt;i&gt;17 For mine eyes are upon all their ways: they are not hid from my face, neither is their iniquity hid from mine eyes.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Hebrews 4:13&lt;/b&gt;&lt;br&gt;
&lt;i&gt;13 Neither is there any creature that is not manifest in his sight: but all things are naked and opened unto the eyes of him with whom we have to do&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Is it possible to hide from god, or not?</string>
		<key>main2</key>
		<string>Genesis 4:16 and Jeremiah 23:23-24</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Is it possible to hide from god, or not?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Cain went out of the presence of God.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 4:16&lt;/b&gt;&lt;br&gt;
&lt;i&gt;16.  And Cain went out from the presence of the LORD, and dwelt in the land of Nod, on the east of Eden.&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;No one can hide from God because he fills the heaven and earth.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Jeremiah 23:23-24&lt;/b&gt;&lt;br&gt;
&lt;i&gt;23 “Am I only a God nearby,”
declares the Lord,
    “and not a God far away?&lt;br&gt;
24 Who can hide in secret places
    so that I cannot see them?”
declares the Lord.
    “Do not I fill heaven and earth?”
declares the Lord.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>When did Adam die?</string>
		<key>main2</key>
		<string>Genesis 2:17 and Genesis 5:5</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;When did Adam die?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;Adam died the day he ate the forbidden fruit.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 4:16&lt;/b&gt;&lt;br&gt;
&lt;i&gt;17 but you must not eat from the tree of the knowledge of good and evil, for when you eat from it you will certainly die.”&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;Adam died at the age of 930 years.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 5:5&lt;/b&gt;&lt;br&gt;
&lt;i&gt;5 And all the days that Adam lived were nine hundred and thirty years: and he died.&lt;/i&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Were the giants destroyed by the flood?</string>
		<key>main2</key>
		<string>Genesis 6:4, Genesis 7:21, and Numbers 13:33</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Were the giants destoryed by the flood?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;There were giants (Nephilim) before the flood.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 6:4&lt;/b&gt;&lt;br&gt;
&lt;i&gt;4 The Nephilim were on the earth in those days—and also afterward—when the sons of God went to the daughters of humans and had children by them. They were the heroes of old, men of renown.”&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;Everyone except for Noah and clan were destroyed by the flood&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 7:21&lt;/b&gt;&lt;br&gt;
&lt;i&gt;21 Every living thing that moved on land perished—birds, livestock, wild animals, all the creatures that swarm over the earth, and all mankind.&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;There were giants after the flood.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Numbers 13:33&lt;/b&gt;&lt;br&gt;
&lt;i&gt;33 We saw the Nephilim there (the descendants of Anak come from the Nephilim). We seemed like grasshoppers in our own eyes, and we looked the same to them.”&lt;/i&gt;&lt;br&gt;&lt;br&gt;</string>
	</dict>
	<dict>
		<key>main</key>
		<string>Can you actually see God?</string>
		<key>main2</key>
		<string>Genesis 12:7, Genesis 17:1, and others.</string>
		<key>main3</key>
		<string>&lt;center&gt;&lt;b&gt;Can you actually see God, or not?&lt;/b&gt;&lt;/center&gt;&lt;br&gt;
&lt;center&gt;God is seen.&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Genesis 12:7&lt;/b&gt;&lt;br&gt;
&lt;i&gt;7 The Lord appeared to Abram and said, “To your offspring[a] I will give this land.” So he built an altar there to the Lord, who had appeared to him.”&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Genesis 17:1&lt;/b&gt;&lt;br&gt;
&lt;i&gt;1 When Abram was ninety-nine years old, the Lord appeared to him and said, “I am God Almighty[a]; walk before me faithfully and be blameless.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;Genesis 18:1&lt;/b&gt;
&lt;i&gt;1 And the LORD appeared unto him in the plains of Mamre: and he sat in the tent door in the heat of the day;&lt;/i&gt;&lt;br&gt;&lt;br&gt;

&lt;center&gt;God cannot be seen.  No one has ever seen him.  Moreover, if you see his face, you will die&lt;/center&gt;&lt;br&gt;
&lt;b&gt;Verses&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Exodus 33:20&lt;/b&gt;&lt;br&gt;
&lt;i&gt;20 And he said, Thou canst not see my face: for there shall no man see me, and live&lt;/i&gt;&lt;br&gt;
&lt;b&gt;John 1:18&lt;/b&gt;&lt;br&gt;
&lt;i&gt;18 No man hath seen God at any time, the only begotten Son, which is in the bosom of the Father, he hath declared him.&lt;/i&gt;&lt;br&gt;
&lt;b&gt;1 John 4:12&lt;/b&gt;&lt;br&gt;
&lt;i&gt;12 No man hath seen God at any time, if we love one another, God dwelleth in us, and his love is perfected in us&lt;/i&gt;&lt;br&gt;</string>
	</dict>
</array>
</plist>
