<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&quot;You will not have the opportunity to make a difference after death, so be someone&apos;s guardian angel now.&quot;</string>
	<string>&quot;Your religion is more like a language  than a fact  It depends on when you  were born, where you were born, and the things your parents say.  Atheism is the realization that none of them have proof.&quot;</string>
	<string>&quot;Some would rather be content with ignorance than uncomfortable with the truth.&quot;</string>
	<string>&quot;If an Atheist has belief or faith in anything, it&apos;s that believers of religion accept propositions as evidence, and possibility as fact.&quot;</string>
	<string>&quot;We must have more hope in the future of humans, than just the individual humans’ hope in their own.&quot;</string>
	<string>&quot;Just as religions can take a simple man and make him godly, it can also take a good man and make him evil.&quot;</string>
	<string>&quot;Some people feel they need religion because they can&apos;t control themselves; but it shouldn&apos;t be forced upon those of us who can.&quot;</string>
	<string>&quot;Just as funerals are for the living, not the dead; religions are for the people, not the gods.&quot;</string>
	<string>&quot;If we truly had one creator speaking to prophets, it would do so consistently; not contradictory as thousands of religions have proven&quot;</string>
	<string>&quot;Sometimes we need to change our perception, to check the validity of our reality. &quot;</string>
	<string>&quot;If the Christian god created humans as sinners, how could it rightfully expect us  to believe its corrupt messengers?&quot;</string>
	<string>&quot;Let us find our own answers and make an educated decision, rather than remaining uneducated and making a fearful one.&quot;</string>
	<string>&quot;If the holy books were truly such, and inspired by omniscient beings, they would not be limited to the knowledge and era of those that wrote them.&quot;</string>
	<string>&quot;It is a complete contradiction that a righteous god would purposely create you imperfectly, and then expect you to begin an impossible race to perfection before death.&quot;</string>
	<string>&quot;We have the capacity to make decisions based on value and reason instead of hope and fear.&quot;</string>
	<string>&quot;If it is impossible for you to choose the same sex against your will, don&apos;t you think it&apos;s impossible for homosexuals to choose the opposite?&quot;</string>
	<string>&quot;I was a believer too; and I must tell you, my urgency of life is now ten-fold that I no longer believe in heaven.&quot;</string>
	<string>&quot;Your personal experience may be used as an argument for why you believe; but it can&apos;t be used to force the rest of us to follow your rules&quot;</string>
</array>
</plist>
