<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>	A Guest Never Ever</string>
	<string>	And I&apos;m Mormon</string>
	<string>	And that is BS</string>
	<string>	And then they spit</string>
	<string>	Are you goddaming the toe?</string>
	<string>	As always as usual</string>
	<string>	Atheist Bible Study</string>
	<string>	Backachewda</string>
	<string>	Beef Jerky</string>
	<string>	Biblical Marriage</string>
	<string>	Big Thing</string>
	<string>	Blablabla</string>
	<string>	BT in the LGBT</string>
	<string>	Captain Contrarian</string>
	<string>	Chewtobacco spit</string>
	<string>	Daddy you need to talk to them</string>
	<string>	Dirty minded little freaks</string>
	<string>	Do you have crackers in your fridge</string>
	<string>	Don´t tell anybody</string>
	<string>	Don´t use this against me</string>
	<string>	Duuuuude</string>
	<string>	Eat all your food</string>
	<string>	Embarrassing myself</string>
	<string>	Every girl deserves a whistle</string>
	<string>	Everyone just leave</string>
	<string>	Family Friendly</string>
	<string>	Feeling like a bully</string>
	<string>	Fire everybody on the planet</string>
	<string>	Fix the economy redneck</string>
	<string>	Gay baby</string>
	<string>	Go kill something</string>
	<string>	God damn it</string>
	<string>	God damn this pen</string>
	<string>	God did it</string>
	<string>	God hates us</string>
	<string>	Good old boy</string>
	<string>	Got me</string>
	<string>	Here´s how real country boy acts</string>
	<string>	Honey get back in the kitchen</string>
	<string>	Hovind!</string>
	<string>	How sweet of you</string>
	<string>	Hugging is excellent radio</string>
	<string>	I am Emily</string>
	<string>	I can&apos;t wait any longer</string>
	<string>	I could go either way</string>
	<string>	I hate science and i&apos;m quitting</string>
	<string>	I just look like completely different person</string>
	<string>	I know i&apos;m just a weirdo</string>
	<string>	I love satan totally devil</string>
	<string>	I wanna know some stuff</string>
	<string>	I want you to eat me</string>
	<string>	Imaginary sperm</string>
	<string>	I&apos;m not star search</string>
	<string>	I&apos;m quitting</string>
	<string>	I&apos;m still a male</string>
	<string>	In the sauna</string>
	<string>	Inappropriate stuff</string>
	<string>	It&apos;s a dinosaur</string>
	<string>	It&apos;s a lovely thing</string>
	<string>	It&apos;s not a family show</string>
	<string>	It&apos;s ridiculous wrong and false</string>
	<string>	Jack Daniels</string>
	<string>	Jesus Christ</string>
	<string>	Jingles for Childrens Shows</string>
	<string>	Join Us</string>
	<string>	Kinda creepy, Don&apos;t worry</string>
	<string>	Kinky stories about unicorns</string>
	<string>	Let&apos;s keep it civil just for a little bit</string>
	<string>	Listen to this garbage</string>
	<string>	Make everybody happy</string>
	<string>	Manly thing to do</string>
	<string>	Meaningless sex</string>
	<string>	Monkeys might come out of my ass</string>
	<string>	Nasty a little bit later</string>
	<string>	Not a lot going on here</string>
	<string>	Not too complicated guys</string>
	<string>	Now that&apos;s where it gets offensive</string>
	<string>	Oh allah darn it</string>
	<string>	Ooh explosion</string>
	<string>	Prayer to the man upstairs</string>
	<string>	Punch so many people</string>
	<string>	Real science</string>
	<string>	Remember that for christmas kids</string>
	<string>	Shut up about it</string>
	<string>	Shut up I&apos;m going to church</string>
	<string>	Slap my grandma</string>
	<string>	Someone get her a beer</string>
	<string>	Someone get the medication</string>
	<string>	Sounds like what I used to be</string>
	<string>	Stop right there</string>
	<string>	Surgeries by time travelers</string>
	<string>	Sushi not in love</string>
	<string>	That is incredible</string>
	<string>	That should never</string>
	<string>	That upset me</string>
	<string>	That&apos;s funny Aron</string>
	<string>	That&apos;s infuriating</string>
	<string>	That&apos;s what I&apos;m talking about</string>
	<string>	The man is the head of the household</string>
	<string>	There&apos;s therapy for that</string>
	<string>	Think you actually love it</string>
	<string>	This is not church</string>
	<string>	This is song is ridiculous</string>
	<string>	Thor during sex</string>
	<string>	Touch his face</string>
	<string>	Vishnu darn it</string>
	<string>	Watch your mouth</string>
	<string>	We all like sexy</string>
	<string>	We just created a gay baby</string>
	<string>	Weird inside</string>
	<string>	What you just did</string>
	<string>	Yeah it was in the bathroom</string>
	<string>	You don&apos;t tell me anything</string>
	<string>	You have got squat</string>
	<string>	You needed Jesus</string>
	<string>	You taste like an ashtray</string>
	<string>	You&apos;re all dirty little heathans</string>
	<string>	You&apos;re going to be attractive</string>
</array>
</plist>
